<div class="navigation">
User: <a href="getconfig"><py-eval="cherrypy.session['uid']" /></a>
&nbsp;[<a href="logout">logout</a>][<a href="listlocal">local</a>]
</div>

<h2>Distributed Data</h2>

<ul>
<py-for="f in files.keys()">
<li>
<py-if="f.endswith('/')">
<img src="static/folder.png" alt="folfer" /><a href="listdir?newuri=<py-eval="files[f]" />"><py-eval="f" /></a>
</py-if><py-else>
<img src="static/document.png" alt="file" /><a href="get?uri=<py-eval="files[f]" />"><py-eval="f" /></a>
</py-else>
<a href="remove?name=<py-eval="f" />" > <img src="static/remove.png" alt="Remove file" /></a>
</li>
</py-for>
</ul>

<div class="news">
<form action="put" method="post" enctype="multipart/form-data">
New File: <input type="file" name="file"/><input type="submit" value="Upload"/>
</form>
<form action="mkdir" method="post" enctype="multipart/form-data">
New Dir: <input type="text" name="name"/><input type="submit" value="Make"/>
</form>
</div>