<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<div xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Distributed File System</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>

<py-if="msg_error">
<div class="msg_error"><py-eval="msg_error" /></div>
</py-if>

<py-include="templates/header.html" />

<div class="body">
<py-include="var:template_file" />
</div>

<py-include="templates/footer.html" />

</body>
</html>
